<!DOCTYPE html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <link href="/css/basic.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">

    <title>JWT 기반 사용자 인증</title>
</head>
<script>
    $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
        if(localStorage.getItem('token')) {
            jqXHR.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('token'));
        }
    });

    /* 애플리케이션 로그인 */
    function login() {
        let info = {
            username: $("#username").val(),
            password: $("#password").val()
        }
        $.ajax({
            type: 'POST',
            url: `/user/login`,
            contentType: "application/json",
            data: JSON.stringify(info),
            success: function (response) {
                console.log(response)
                localStorage.setItem("access_token", response['accessToken']);
                localStorage.setItem("refresh_token", response['refreshToken']);
                window.location.href = "/";
            }
        })
    }
</script>
<body>
<div class="wrap">
    <div class="col-md-5 mx-auto">
        <div class="logo mb-3">
            <div class="col-md-12 text-center">
                <h1>로그인</h1>
            </div>
        </div>
        <div class="form-group">
            <label for="username">사용자 이름</label>
            <input type="text" name="username" class="form-control" id="username"
                   placeholder="사용자이름을 입력해주세요.">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control"
                   placeholder="비밀번호를 입력해주세요.">
        </div>
        <div class="col-md-12 text-center">
            <p>
                <button type="submit" class="btn btn-block btn-primary tx-tfm" onclick="login()">로그인</button>
            </p>
        </div>
        <div class="form-group">
            <p class="text-center">아직 회원이 아니신가요? <a href="/signup" id="signup">회원가입</a></p>
        </div>
    </div>
</div>
</body>
</html>